extends layout/app

block page 
    include chunk/header

    h1.title Главная

    picture 
      img(src="img/ff.png", alt = "Фотография воды", width="500")

    ul.news
      each item in news 
         li= item.name 

    include chunk/footer